.todoList{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.list-group{
    width: 100vw;
}
.todoList span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoList span:hover{
    background: black;
    cursor: pointer;
}

.todoList span div button {
    margin-right: 5px;
    width: 2rem;
    height: 2.3rem;
}

.done{
    text-decoration: line-through;
}

.important {
    font-size: 1.2rem;
    color: rgb(184, 203, 255);
}